.admin_index {
    overflow: scroll;

    .month {
        display: flex;
        justify-content: space-around;
        align-items: space-between;
        width: 17em;
        margin-left: auto;
        margin-right: auto;
        align-items: center;

        p {
            margin-top: 0;
            margin-bottom: 0;
        }
    }

    table {
        th, td {
            padding: 0.5em;
            text-align: center;
        }
        .sunday {
            background-color: #FFCC33;
        }
        .holiday {
            background-color: #FF3333;   
        }
    }
}