.nav {
    background: gainsboro;
    display: flex;
    text-align: center;
    justify-content: space-around;
    flex-wrap: nowrap;
    @media only screen and (max-width: 480px) {
        font-size: 0.5em;
    }
}

h1.schedule {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
