th,
td {
  padding: 0.3em;
  text-align: center;
}

.sunday {
  background-color: #FFCC33;
}

.holiday {
  background-color: #126de4;
}

.user {
  padding: 0.5em;
}

.hidden {
  display: none;
}

.submit {
  display: none;
}

.calendar {
  overflow: scroll;
}

.navbar {
  background-color: #0F9276;
}

.navbar-light .navbar-brand {
  color: white;
}

.navbar-light .navbar-nav .nav-link {
  color: white;
}

